USE [master]
GO
/****** Object:  Database [BCAD3_PROG]    Script Date: 08/12/2021 19:26:07 ******/
CREATE DATABASE [BCAD3_PROG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BCAD3_PROG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BCAD3_PROG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BCAD3_PROG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BCAD3_PROG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BCAD3_PROG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BCAD3_PROG]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 08/12/2021 19:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[CATEGORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[Category_Name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY_HISTORY]    Script Date: 08/12/2021 19:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY_HISTORY](
	[CATEGORY_ID] [int] NOT NULL,
	[Order_ID] [int] NOT NULL,
	[Date_Order] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC,
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[CATEGORY_ORDER_TOTAL]    Script Date: 08/12/2021 19:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CATEGORY_ORDER_TOTAL] AS
Select Category_name , Date_Order
from CATEGORY A 
inner join CATEGORY_HISTORY C on A.CATEGORY_ID = C.CATEGORY_ID
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 08/12/2021 19:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[Cart_ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cart_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderHistory]    Script Date: 08/12/2021 19:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderHistory](
	[Order_ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[ORDER_DATE] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_CATEGORY]    Script Date: 08/12/2021 19:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_CATEGORY](
	[CATEGORY_ID] [int] NOT NULL,
	[PRODUCT_ID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC,
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 08/12/2021 19:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[PRODUCT_ID] [int] IDENTITY(1,1) NOT NULL,
	[Product_Name] [varchar](255) NOT NULL,
	[PRODUCT_DESCRIPTION] [varchar](255) NOT NULL,
	[PRODUCT_PRICE] [decimal](10, 2) NOT NULL,
	[PRODUCT_IMAGE] [image] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 08/12/2021 19:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](40) NOT NULL,
	[IsAdmin] [bit] NULL,
	[Upassword] [binary](64) NOT NULL,
	[Salt] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([Cart_ID], [UserID], [PRODUCT_ID]) VALUES (62, 9, 3)
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[CATEGORY] ON 

INSERT [dbo].[CATEGORY] ([CATEGORY_ID], [Category_Name]) VALUES (1, N'Fashion')
INSERT [dbo].[CATEGORY] ([CATEGORY_ID], [Category_Name]) VALUES (2, N'Toys')
INSERT [dbo].[CATEGORY] ([CATEGORY_ID], [Category_Name]) VALUES (3, N'Hobby & DIY')
SET IDENTITY_INSERT [dbo].[CATEGORY] OFF
GO
INSERT [dbo].[CATEGORY_HISTORY] ([CATEGORY_ID], [Order_ID], [Date_Order]) VALUES (1, 29, CAST(N'2021-06-15' AS Date))
INSERT [dbo].[CATEGORY_HISTORY] ([CATEGORY_ID], [Order_ID], [Date_Order]) VALUES (1, 30, CAST(N'2021-06-15' AS Date))
INSERT [dbo].[CATEGORY_HISTORY] ([CATEGORY_ID], [Order_ID], [Date_Order]) VALUES (2, 27, CAST(N'2021-06-15' AS Date))
GO
SET IDENTITY_INSERT [dbo].[OrderHistory] ON 

INSERT [dbo].[OrderHistory] ([Order_ID], [UserID], [PRODUCT_ID], [ORDER_DATE]) VALUES (15, 4, 2, CAST(N'2021-06-14' AS Date))
INSERT [dbo].[OrderHistory] ([Order_ID], [UserID], [PRODUCT_ID], [ORDER_DATE]) VALUES (19, 1, 1, CAST(N'2021-06-14' AS Date))
INSERT [dbo].[OrderHistory] ([Order_ID], [UserID], [PRODUCT_ID], [ORDER_DATE]) VALUES (20, 1, 3, CAST(N'2021-06-14' AS Date))
SET IDENTITY_INSERT [dbo].[OrderHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCT_CATEGORY] ON 

INSERT [dbo].[PRODUCT_CATEGORY] ([CATEGORY_ID], [PRODUCT_ID]) VALUES (1, 12)
INSERT [dbo].[PRODUCT_CATEGORY] ([CATEGORY_ID], [PRODUCT_ID]) VALUES (1, 13)
INSERT [dbo].[PRODUCT_CATEGORY] ([CATEGORY_ID], [PRODUCT_ID]) VALUES (1, 18)
SET IDENTITY_INSERT [dbo].[PRODUCT_CATEGORY] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTS] ON 

SET IDENTITY_INSERT [dbo].[PRODUCTS] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([UserID], [UserName], [IsAdmin], [Upassword], [Salt]) VALUES (1, N'victor', 1, 0x51A0C9062421FA14B0AEBE94C8587494BE9E7572BB435BC9B9DB711C58AD1D7908DFF647935A954975C018C1218970A7A9F966E882749BFD4741ED42E626E28D, N'c8267401-77ba-4c3b-8e13-cadda8549c59')
INSERT [dbo].[USERS] ([UserID], [UserName], [IsAdmin], [Upassword], [Salt]) VALUES (2, N'Test#', 0, 0xF973FEBE8DD00ADF996E411DDD379B1BFC58878B531B9D222B18B862B1CAE0B531B807433C3BA534EB2752D747E27296FDCC87CE8CB7D12B1BE2A6F8C4F50EA4, N'a2b9eeef-a156-415b-be4d-4753bf1a30c7')
INSERT [dbo].[USERS] ([UserID], [UserName], [IsAdmin], [Upassword], [Salt]) VALUES (3, N'Sarah', 0, 0x600DF0E13EE3D462E49EFCECE9DD870DA34D79551B0B862DA5BC7B87D0FC9448D8698550B9495E54BDFF5A34F1B499FF87D2A82D95873CAEC325BE9F28C11500, N'8aebf81e-8ced-4477-8b2b-65cec3830dd3')
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[PRODUCTS] ([PRODUCT_ID])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[USERS] ([UserID])
GO
ALTER TABLE [dbo].[CATEGORY_HISTORY]  WITH CHECK ADD FOREIGN KEY([CATEGORY_ID])
REFERENCES [dbo].[CATEGORY] ([CATEGORY_ID])
GO
ALTER TABLE [dbo].[CATEGORY_HISTORY]  WITH CHECK ADD FOREIGN KEY([Order_ID])
REFERENCES [dbo].[OrderHistory] ([Order_ID])
GO
ALTER TABLE [dbo].[OrderHistory]  WITH CHECK ADD FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[PRODUCTS] ([PRODUCT_ID])
GO
ALTER TABLE [dbo].[OrderHistory]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[USERS] ([UserID])
GO
ALTER TABLE [dbo].[PRODUCT_CATEGORY]  WITH CHECK ADD FOREIGN KEY([CATEGORY_ID])
REFERENCES [dbo].[CATEGORY] ([CATEGORY_ID])
GO
ALTER TABLE [dbo].[PRODUCT_CATEGORY]  WITH CHECK ADD FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[PRODUCTS] ([PRODUCT_ID])
GO
/****** Object:  StoredProcedure [dbo].[AddProduct]    Script Date: 08/12/2021 19:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddProduct]
    @product_name VARCHAR (255),
	@cat_id INT,
	@product_description VARCHAR (255),
	@product_price DECIMAL(10, 2),
    @product_img IMAGE,
	@responseMessage NVARCHAR(250) OUTPUT
AS
BEGIN
    SET NOCOUNT ON

	
    BEGIN TRY

        INSERT INTO dbo.[PRODUCTS] (PRODUCT_NAME , PRODUCT_DESCRIPTION, PRODUCT_PRICE, PRODUCT_IMAGE)
        VALUES(@product_name, @product_description, @product_price,@product_img)

		INSERT INTO PRODUCT_CATEGORY (CATEGORY_ID)
		VALUES (@cat_id)
        SET @responseMessage='Success'

		
		
		
    END TRY

    BEGIN CATCH
        SET @responseMessage=ERROR_MESSAGE() 
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 08/12/2021 19:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddUser]
    @username  NVARCHAR(50), 
    @upassword  NVARCHAR(50),
	@isadmin  bit,
    @responseMessage NVARCHAR(250) OUTPUT
AS
BEGIN
    SET NOCOUNT ON

    DECLARE @salt UNIQUEIDENTIFIER=NEWID()
    BEGIN TRY

        INSERT INTO dbo.[USERS] (UserName, IsAdmin, Upassword, Salt)
        VALUES(@username, @isadmin, HASHBYTES('SHA2_512', @upassword+CAST(@salt AS NVARCHAR(36))), @salt)

       SET @responseMessage='Success'

    END TRY
    BEGIN CATCH
        SET @responseMessage=ERROR_MESSAGE() 
    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[GetCartTotal]    Script Date: 08/12/2021 19:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCartTotal]
	@User_ID INT,
	@responseMessage NVARCHAR(250) OUTPUT
AS
BEGIN
    SET NOCOUNT ON

	
    BEGIN TRY

       Select SUM(PRODUCT_PRICE) AS "TOTAL"
	   from PRODUCTS A, CART B 
	   where A.PRODUCT_ID = B.PRODUCT_ID AND  UserID = @User_ID
      

		
        SET @responseMessage='Success'

		
		
		
    END TRY

    BEGIN CATCH
        SET @responseMessage=ERROR_MESSAGE() 
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[GetProduct]    Script Date: 08/12/2021 19:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetProduct]
	@cat_id INT,
	@responseMessage NVARCHAR(250) OUTPUT
AS
BEGIN
    SET NOCOUNT ON

	
    BEGIN TRY

        SELECT A.PRODUCT_ID, Product_Name, PRODUCT_DESCRIPTION, PRODUCT_PRICE, PRODUCT_IMAGE 
		from PRODUCTS A
		INNER JOIN PRODUCT_CATEGORY B ON B.PRODUCT_ID = A.PRODUCT_ID
		WHERE B.CATEGORY_ID = @cat_id;
      

		
        SET @responseMessage='Success'

		
		
		
    END TRY

    BEGIN CATCH
        SET @responseMessage=ERROR_MESSAGE() 
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserID]    Script Date: 08/12/2021 19:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserID]
	@loginname VARCHAR(254),
	@upassword NVARCHAR(50),
    @responseMessage NVARCHAR(250)  OUTPUT
AS
BEGIN
    SET NOCOUNT ON

    BEGIN TRY

        SELECT UserID FROM [dbo].[USERS] WHERE UserName=@loginname AND Upassword=HASHBYTES('SHA2_512', @upassword+CAST(Salt AS NVARCHAR(36)))
       

        SET @responseMessage='Success'

    END TRY
    BEGIN CATCH
        SET @responseMessage=ERROR_MESSAGE() 
    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[GetUserPrivilage]    Script Date: 08/12/2021 19:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROCEDURE [dbo].[GetUserPrivilage]
	@user_id int,
    @responseMessage NVARCHAR(250)  OUTPUT
AS
BEGIN
    SET NOCOUNT ON

    BEGIN TRY

        SELECT IsAdmin FROM [dbo].[USERS] WHERE UserID = @user_id;
       

        SET @responseMessage='Success'

    END TRY
    BEGIN CATCH
        SET @responseMessage=ERROR_MESSAGE() 
    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[userLogin]    Script Date: 08/12/2021 19:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[userLogin]
    @loginname NVARCHAR(254),
    @upassword NVARCHAR(50),
    @responseMessage NVARCHAR(250)='' OUTPUT
AS
BEGIN

    SET NOCOUNT ON

    DECLARE @userID INT

    IF EXISTS (SELECT TOP 1 UserID FROM [dbo].[USERS] WHERE UserName=@loginname)
    BEGIN
        SET @userID=(SELECT UserID FROM [dbo].[USERS] WHERE UserName=@loginname AND Upassword=HASHBYTES('SHA2_512', @upassword+CAST(Salt AS NVARCHAR(36))))

       IF(@userID IS NULL)
           SET @responseMessage='Incorrect password'
       ELSE 
           SET @responseMessage='User successfully logged in'
    END
    ELSE
       SET @responseMessage='Invalid login'

END
GO
USE [master]
GO
